.arrow{
    color: #fff;
    font-size: 1.2rem;
    display: none;
}
.letter{
    color: #fff;
    font-size: 1.2rem;
    display: none;
}
#sArrow{
    position: relative;
}
#mArrow{
    position: relative;
}
#eArrow{
    position: relative;
}
#s{
    position: relative;
    display: inline-block;
}
#m{
    position: relative;
    display: inline-block;
}
#e{
    position: relative;
    display: inline-block;
}