.navbar{
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #124143;
}
.nav{
    display: flex;
}
.nav li{
    padding: 0 1rem;
    font-size: 1.5rem;
}
.link{
    color: #fff;
}

.nav.active{
    right: 0;
}
#menu{
    display: none;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    padding-right: 1.5rem;
}
@media (max-width: 981px)
{
    .navbar ul li{
        font-size: 1.2rem;
    }
}
@media (max-width: 761px)
{
    #menu{
        display: inline-block;
    }
    .nav{
        position: absolute;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    width: 15rem;
    height: 80vh;
    background: #825260;
    z-index: 1000;
    }
    .nav li{
        padding: 2rem 1rem;
    }
}